<div class="dashboard-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" routerLink="/">ParkSmart</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about">Reports</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                    <span class="badge bg-light text-primary me-2">Entry Operator</span>
                    <span class="text-white me-2">{{userServ.loggedUserData?.emailId}}</span>
                    <button class="btn btn-warning opacity-70 text-white text-decoration-none" type="button" (click)="logOff()">Logout</button>
                </div>
            </div>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>